<!DOCTYPE html>
<html>
  <head>
    <title>RailsEcommerce</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
      <main class="flex gap-4 ">
      <nav class="flex gap-4">
        <div class="w-60 h-screen bg-gray-600">
          <div class="flex flex-col  justify-center items-center"> 

      <%= image_tag("logo.jpg", alt: "Website logo", class: "mt-10 w-20 h-20")  %>
            <h1 class="text-md py-2 text-gray-50 font-bold hidden md:block">
              ECommerce Admin
            </h1>
          </div>
          <ul class="container mx-auto mt-10 flex text-gray-50 flex-col gap-2">

            <li  class='w-full'>
              <%= link_to admin_path, class: 'block px-4 py-2 hover:rounded hover:bg-gray-700' do %>
                <%= icon('fa-solid', 'gauge-high', class:'mr-2') %> 
                <span class="hidden md:inline-block">Dashboard</span>
                <%end%>
            </li>

      



            <li  class='w-full'>
              <%= link_to admin_products_path, class: 'block px-4 py-2 hover:rounded hover:bg-gray-700' do %>
                <%= icon('fa-solid', 'cart-shopping', class:'mr-2') %> 
                <span class="hidden md:inline-block">Products</span>
                <%end%>
            </li>




            <li  class='w-full'>
              <%= link_to admin_categories_path, class: 'block px-4 py-2 hover:rounded hover:bg-gray-700' do %>
                <%= icon('fa-solid', 'list', class:'mr-2') %> 
                <span class="hidden md:inline-block">Categories</span>
                <%end%>
            </li>

              <li  class='w-full'>
              <%= link_to admin_orders_path, class: 'block px-4 py-2 hover:rounded hover:bg-gray-700' do %>
                <%= icon('fa-solid', 'truck-fast', class:'mr-2') %> 
                <span class="hidden md:inline-block">Orders</span>
                <%end%>
            </li>

          </ul>
        </div>
      </nav>
      <div class="p-4 w-screen">
      <%= yield %>
      </div>
      </main>
  </body>
</html>
